<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="xlsql" type="System.Configuration.NameValueSectionHandler" />
  </configSections>

  <xlsql>
    <add key="ribbon.tab.hidden" value="false" />
    <add key="sqlite.extensions" value="percentile,regexp,sha" />
    <add key="sqlite.extensions.enable" value="true" />
  </xlsql>

</configuration>
